# --- Core LangChain packages ---
langchain==0.2.12
langchain-core==0.2.8
langchain-community==0.2.6
langchain-text-splitters==0.2.1
langchain-groq==0.1.3
langchain-chroma==0.1.3
langchain-huggingface

# --- Embeddings / Model Hub ---
sentence-transformers
huggingface_hub

# --- Vector store / similarity search ---
chromadb
faiss-cpu
duckdb

# --- PDF processing ---
pypdf
pymupdf

# --- Web UI ---
streamlit
python-dotenv
pandas
